@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
$font-family: 'Manrope', sans-serif;
$font-size: 28px;
/* Primary */

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

/* Neutral */

$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);