@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
/* Primary */
/* Neutral */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  background-color: hsl(218, 23%, 16%);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.card {
  background-color: hsl(217, 19%, 24%);
  max-width: 540px;
  padding: 3rem;
  color: hsl(193, 38%, 86%);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.card h1 {
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.divider {
  background-image: url(../images/pattern-divider-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50px;
}

.card p {
  color: hsl(150, 100%, 66%);
  font-size: 0.85rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  appearance: none;
  border: none;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 25px);
}
.card button img {
  margin: auto;
}

footer {
  position: relative;
}

footer div {
  position: absolute;
  bottom: 20px;
  text-align: center;
}